<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
        padding: 5px;
    }
</style>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/decks">Deck List</a></li>
    <% if(!currentUser) { %>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
    <% } else { %>
        <li><a href="/decks/new">New Deck</a></li>
        <li><a href="/users/profile">Profile</a></li>
        <li><a href="/users/logout">Logout</a></li>
        Welcome, <%= currentUser.username %>
    <% } %>
</ul>
