<% layout('layouts/template') -%>

<div class="text-center">
    <h1>Login</h1>
</div>

<form action="/users/login" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
    </div>

    <input class="btn btn-primary" type="submit">
</form>

<div>
    <a href="/users/forgot-password">Forgot password?</a>
</div>