
$blue: #00b7ff;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Layout styles

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.btn {
  a {
    color: white;
  }
  &:hover a {
    text-decoration: underline;
  }
}

main.container {
  margin-top: 1em;
}

.btn-delete {
  padding: 0;
}

// Navbar styles
.navbar {
  .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-toggler {
    color: #00B7FF;
  }
}


.edit-review-form {
  display: none;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
}

.recent-decks {
  margin-bottom: 2em;
}

.deck {
  border: 1px solid $dark;
  border-radius: 5px;
  padding: 2.5rem 1rem;
  margin: 1rem 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.deck-p {
  position: absolute;
  right: 12px;
  top: 12px;
  color: $danger;
  border: 1px solid $danger;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.deck-link:hover {
  text-decoration: none;
  color: $secondary;
}
.deck-desc {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deck-buttons {
  margin: 1rem 0 0 0;
}
.deck-header-info {
  flex-grow: 2;
}
.deck-header-container {
  display: flex;
  flex-direction: column;
}

// Testing styles
#incorrect-display, #correct-display {
  position: absolute;
  transition: 0.5s;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

#end-form {
  display: none;
}

#incorrect-count {
  display: none;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}
#incorrect-count.show {
  display: block;
}
#skip-one {
  display: none;
}
#skip-one.show {
  display: block;
}
.review-page {
  overflow: hidden;
}
#review-form, #test-form {
  width: 80%;
  margin: auto;
  img {
    margin: auto;
  }
}
#card-side-icon {
  text-align: left;
  padding: 1em;
}

.card-item {
  padding: 1em;
}

.card-grid, .deck-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}