
$blue: #4D9DE0;
$success: #A5BE00;
$darkblue: #064789;
$red: #E15554;


@import "../../node_modules/bootstrap/scss/bootstrap";

// Layout styles

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100vh;
}

p {
  font-size: 1.1rem;
}

a {
  color: $blue;
}

body {
  height: 100%;
  background-color: #E5E9EC;
  display: flex;
  flex-direction: column;
}


// Navbar styles
.navbar {
  a.nav-link {
    position: relative;
    color: $dark;
    text-decoration: none;
    overflow: hidden;
  }
  a.nav-link:hover {
    color: $dark;
  }
  a.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 6px;
    left: 0;
    background-color: $dark;
    visibility: hidden;
    transform: scaleX(0);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out 0s;
  }
  a.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-toggler {
    color: #00B7FF;
  }
}



// Main

main.container {
  margin-top: 1em;
  flex-grow: 1;
}


// Buttons

.btn {
  a {
    color: white;
  }
  &:hover a {
    text-decoration: underline;
  }
}

.btn-delete {
  padding: 0;
}


// Pages
// Deck index page
.deck {
  border: 1px solid $dark;
  border-radius: 5px;
  padding: 2.5rem 1rem;
  margin: 1rem 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $dark;
  background-color: $light;
}
.deck-p {
  position: absolute;
  right: 12px;
  top: 12px;
  color: $danger;
  border: 1px solid $danger;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.deck-link:hover {
  text-decoration: none;
  color: $secondary;
}
.deck-desc {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deck-buttons {
  margin: 1rem 0 0 0;
}

// Deck header partial styles
.deck-header-info {
  flex-grow: 2;
}
.deck-header-container {
  display: flex;
  flex-direction: column;
}

// paginate-decks partial styles
.pagination {
  flex-wrap: wrap;
}

.page-item.mobile-only {
  display: none;
}

.page-link.active {
  color: white;
  background-color: $primary;
}

.page-link.disabled {
  background-color: $light;
}

.page-link.disabled:hover,
.page-link.disabled:focus {
  cursor: not-allowed;
  background-color: $light;
  color: $primary;
}

.ctrl-item {
  display: inherit;
  .page-link {
    padding-right: 8px;
    padding-left: 8px;
  }
}

// Testing page styles
#incorrect-display, #correct-display {
  position: absolute;
  transition: 0.5s;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

#end-form {
  display: none;
}

#incorrect-count {
  display: none;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}
#incorrect-count.show {
  display: block;
}
#skip-one {
  display: none;
}
#skip-one.show {
  display: block;
}

// Review page styles
#review-page {
  overflow: hidden;
}
.review-form, .test-form {
  width: 80%;
  margin: auto;
  img {
    margin: auto;
  }
}
#card-side-icon {
  text-align: left;
  padding: 1em;
}

.review-control-box {
  display: flex;
  margin: 4rem 2rem;
  padding: 2rem;
}

.card-item {
  padding: 1em;
  text-align: center;
  border-radius: 1rem;
  background-color: $light;
}

.card-form-close {
  position: absolute;
  right: 0;
  top: -2rem;
}

div[id^="card"] {
  position: relative;
}

.card-grid, .deck-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}



.edit-review-form {
  display: none;
}


// Profile

.profile-image {
  width: 100px;
  border-radius: 50%;
}

.recent-decks {
  margin-bottom: 2em;
}




// Media queries

@include media-breakpoint-down(lg) {
  .navbar-collapse {
    text-align: center;
  }
  
  .navbar a.nav-link:before {
    left: calc(50% - 45px);
    transform: scaleX(0);
    width: 90px;
  }
}

@include media-breakpoint-down(md) {
  .card-grid, .deck-grid {
    grid-template-columns: 1fr 1fr;
  }
  .page-link {
    font-size: 90%;
  }
  .page-item:not(.ctrl-item):not(.important) {
    display: none;
  }
  .page-item.mobile-only {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .card-grid, .deck-grid {
    grid-template-columns: 1fr;
  }
}

@include media-breakpoint-down(xs) {
  .review-control-box {
    padding: 2rem 5px;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
  }
  .navbar {
    justify-content: center;
  }
}