<% layout('layouts/boilerplate') -%>
<h1>Cards Index!</h1>

<% cards.forEach(function(card) { %>
    <div>
        <div>Question: <%= card.question %></div>
        <div>Answer: <%= card.answer %></div>
    </div>
    <br>
<% }); %>