<% layout('layouts/boilerplate') -%>
<h1>New Card!</h1>
<form action="/decks/<%= deckId %>/cards" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="card-question">Question</label>
        <textarea class="form-control" name="card[question]" placeholder="Front (question)" id="card-question"></textarea>
    </div>
    <div class="form-group">
        <label for="card-answer">Answer</label>
        <textarea class="form-control" name="card[answer]" placeholder="Back (answer)" id="card-answer"></textarea>
    </div>
    <div class="form-group">
        <label for="card-image">Image</label>
        <input class="form-control-file" type="file" accept="images/*" name="image" id="card-image">
        <small class="form-text text-muted">Optional</small>
    </div>

    <input class="btn btn-primary" type="submit">
    <input class="btn btn-danger" type="button" onclick="history.back()" value="Cancel">
</form>

<!--
Card
- front (question) - string
- back (answer) - string
- image - string
-->