<h1>New Card!</h1>
<form action="/decks/<%= deckId %>/cards" method="POST">
    <div>
        <textarea name="card[question]" placeholder="Front (question)"></textarea>
    </div>
    <div>
        <textarea name="card[answer]" placeholder="Back (answer)"></textarea>
    </div>

    <input type="submit">
</form>

<!--
Card
- front (question) - string
- back (answer) - string
- image - string
-->