<% layout('layouts/boilerplate') -%>
<h1>New Deck!</h1>

<form action="/decks" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title-input">Title</label>
        <input class="form-control" type="text" name="deck[title]" placeholder="Title" id="title-input">
    </div>
    <div class="form-group">
        <label for="description-input">Description</label>
        <textarea class="form-control" name="deck[description]" placeholder="Description" rows="5" id="description-input"></textarea>
    </div>
    <div class="form-group">
        <label for="image-input">Image</label>
        <input class="form-control-file" type="file" accept="images/*" name="image" id="image-input">
        <small class="form-text text-muted">Optional</small>
    </div>

    <input class="btn btn-primary" type="submit">
</form>
